name: Shell Script Linting

on:
  push:
  pull_request:
    branches:
      - main
      - dev*
    paths:
      - 'container-monitor.sh'

permissions:
  contents: read

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
        with:
          scandir: ./container-monitor.sh
          severity: error
